@font-face { font-family: BluuNext; src: url('bluuNext-Bold.ttf');}
@font-face { font-family: BluuNext1; font-weight: bold; src: url('BluuNext-Titling.ttf');}
@font-face { font-family: Andale Mono; font-weight: normal; src: url('ANDALEMO.ttf');}

body {
  margin:0;
  font-family: 'Andale Mono';
  background-color: #0f1c2d;
}

h1 {
  margin: 2em 0;
}

a{
  position: relative;
  text-decoration: none;
  font-weight: bold;
	color: #0f1c2d;
}

a:hover {
	color: #6a9add;
	background-color: #0f1c2d;
}

p {
  font-size: 15px;
  position: relative;
  text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
}

h3 {
  padding: 0 auto;
  margin-top:0px;
  margin-bottom:10px;
  font-size: 15px;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
}

.container {
  width: 95%;
  margin: 0 auto;
  background-color: #6a9add;
}

.gridContainer {
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 20px;
  width: 95%;
  background-color: #0f1c2d;
}

.titleBar {
  position:fixed;
  top:0;
  font-family: "BluuNext1";
  color:#0f1c2d;
  float:left;
  box-sizing: border-box;
  padding-left: 15px;
  width: 95%;
  margin: 0 auto;
  font-size: 40px;
  z-index: 1;
  background-color: #6a9add;
}

.bio{
	margin-top: 45px;
  margin-bottom:10px;
	padding: 15px 20px 15px 20px;
	font-weight: 300;
	font-size: 1rem;
	line-height: 130%;
	text-align: justify;
	color: #0f1c2d;
	background-color: #6a9add;
}

.grid-item {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 3px;
  background-color: #6a9add;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 .1em;
}

.grid-col--2{
  flex: 1;
  display:none;
}

.grid-col--3{
  flex: 1;
  display:none;
}

.image {
  width:auto;
}
.title {
  opacity:1;
  font-size: 1.2rem;
  position: absolute;
  background-color: #6a9add;
  color:white;
}


@media(min-width: 400px) {
  .gridContainer{
    width: 90%;
  }
  .container {
    width: 90%;
  }
  .titleBar {
    width:90%;
    box-sizing: border-box;
  }
}

@media(min-width: 600px) {
.grid-col--2 {display:block;}
  .gridContainer{
    width: 90%;
  }
  .container {
    width: 90%;
  }

  .titleBar {
    width:90%;
    box-sizing: border-box;
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {display:block;}

  .titleBar {
    width: 90%;
  }
  .container {
    width: 90%;
  }
  .gridContainer {
    width: 90%;
  }
}
